<nav id = "top-bar">
  <ul>
    <li>HOME</li>
    <li><%= link_to "Categories", categories_url %></li>
  </ul>
  <strong><i><h2>YOUR LOGO HERE</h2></i></strong>
  <ul>
    <li><%= link_to "New Category", new_category_url %></li>
    <li>Sign in</li>
    <li>Sign up</li>
  </ul>
</nav>