.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 1rem 0;
}
.collection-categories {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  overflow-y: auto;
  padding: 0.5rem;
}
.collection-categories > h5 {
  padding: 0.25rem 0;
}
.category-content {
  border-top: 2px solid black;
}
.category-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 0.25rem;
}
#at-edit {
  overflow-y: auto;
  height: 90vh;
  width: 100vw;
  padding: 1rem;
}
