.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.edit-profile-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .field > label {
    font-size: 1.25rem;
  }

  .field > input {
    height: 6vh;
    width: 80vw;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .actions > input {
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
  }
}

.sign-up-container,
.sign-in-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-form,
.sign-in-form {
  padding: 1rem 2rem;
  border: 2px solid black;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .field > input {
    width: 100%;
    height: 5vh;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }
  .actions {
    text-align: center;
    margin-top: 2rem;

    input {
      font-size: 1.2rem;
      padding: 0.5rem 0.75rem;
    }
  }
}

.sign-in-form > .field-memorize {
  display: inline-block;
}

.sign-in-form > span > a:hover,
.sign-in-form > a:hover {
  color: violet;
}
.sign-up-form > span > a:hover {
  color: violet;
}

.new_user {
  width: 100%;
}
.current-user-email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;

  h5 {
    opacity: 0.7;
  }
}
