<% random_category_ids = @categories.ids.sample(3)%>
<% random_id_1 = random_category_ids[0] %>
<% random_id_2 = random_category_ids[1] %>
<% random_id_3 = random_category_ids[2] %>

<div class = "task-box">
  <div class = "task-1">
  </div>
  <div class = "task-2"></div>
  <div class = "task-3"></div>
</div>
<div class = "random-category-box">
  <% @categories.where(id: random_category_ids).each do |category| %>
    <% if category.user == current_user %>
      <div class = "random-category">
        <h6><%= category.name %></h6>
        <h4><%= category.details %></h4>
      </div>
    <% end %>
  <% end %>
</div>