<% random_category_ids = @categories.ids.sample(3)%>
<% random_id_1 = random_category_ids[0] %>
<% random_id_2 = random_category_ids[1] %>
<% random_id_3 = random_category_ids[2] %>

<div class = "task-box">
  <% @categories.where(id: random_category_ids).each do |category| %>
    <div class = "tasks">
    <% category.tasks.each do |task| %>
      <li><%= task.details %></li>
    <% end %>
    </div>
  <% end %>
</div>
<div class = "random-category-box">
  <% @categories.where(id: random_category_ids).each do |category| %>
    <% if category.user == current_user %>
      <div class = "random-category">
        <div class = "random-category-name"><%= category.name %></div>
        <h4><%= category.details %></h4>
      </div>
    <% end %>
  <% end %>
</div>